* {
  padding: 0;
  margin: 0;
}

body {
  padding: 20px;
}

table {
  border-collapse: collapse;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table th {
  background-color: #ff6699;
}

table tr:hover {
  background-color: #ddd;
}

table tbody tr td,
table thead tr th {
  border: 1px solid #ddd;
  padding: 10px;
}

.badge {
  width: max-content;
  border-radius: 50px;
  background-color: aqua;
  padding: 3px;
  box-sizing: border-box;
  margin: 0 2px;
}

.input {
  margin-bottom: 15px;
  padding: 10px;
  width: 400px;
  border-radius: 5px;
  border: 1px solid rgb(78, 78, 78);
}
